.ampersDetailsFeaturesWrapper {
  width: 631px;
  padding: 44px 52px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
}

.featuresListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 12px 18px;
  background-color: #eaecee;
  border-radius: 100px;
}

.vehicleDetailsHeading {
  position: relative;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 48px;
}

.vehicleDetailsHeading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dadde1;
  left: 0;
  top: 48px;
}

.detailsTable {
  width: 527px;
  border-collapse: collapse;
}

.detailsTableRow {
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.detailsTableRow:last-child {
  margin-bottom: 0;
}

.tableHeader {
  font-weight: 500;
}
