.cardWrapper {
  display: flex;
  column-gap: 24px;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

/* Name and Price */

.nameAndPiceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 8px;
}

.name {
  width: 320px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.priceWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.favouriteBtn {
  padding: 0;
  width: 26;
  height: 26px;
  background-color: transparent;
  border: none;
}

/* Reviews and Location */

.reviewAndLocationWrapper {
  display: flex;
  column-gap: 16px;
  margin-bottom: 24px;
  font-weight: 400;
}

.reviewWrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.reviewIcon {
  color: #ffc531;
}

.locationWrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

/* Description */

.description {
  font-weight: 400;
  color: #475467;
  width: 525px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 24px;
}

/* Equipment */

.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.equipmentListItem {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: #f2f4f7;
  padding: 12px 18px;
  border-radius: 100px;
}

/* Show More Link */

.showMoreLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 56px;
  color: #fff;
  background-color: #e44848;
  border-radius: 200px;
  transition: background-color 250ms ease-in-out;
}

.showMoreLink:hover,
.showMoreLink:focus {
  background-color: #d84343;
}
