.filtersWrapper {
  width: 360px;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 64px;
}

.filtersHeading {
  color: #475467;
  margin-top: 40px;
  margin-bottom: 32px;
}

.equipmentAndFypeFilterWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}
